
html, body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 12px;
  color: #132231;
}

.resume-root {
  height: 297mm;
  width: 210mm;
  padding: 5px 20px;
}

.name {
  font-size: 30px;
  color: #644a39;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

/* .green {
  color: #6dc340;
  font-size: 12px;
} */

/* Middle Part */
.resume-middle-section {
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.right-container {
  padding: 0 10px 5px 10px;
  background: whitesmoke;
  /* height: max-content; */
}

.addAchievement {
  right: 50%
}

.more {
  margin: 5px 20px;
}

.more li {
  list-style: circle;
}

.main-title {
  margin-top: 15px;
  font-family: 'Oswald', sans-serif;
  color: #644a39;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px dashed #56555547;
  margin-bottom: 5px;
  line-height: 40px;
}

svg {
  display: inline;
}

.small {
  font-size: 14px;
}

.backend, .testing {
  margin-top: 10px;
}

.skill-container {
  margin-top: 10px;
}

.underline {
  border-bottom: 1px dashed #644a3957;
  font-weight: 600;
}

.skill {
  border-bottom: 1px dashed #644a3957;
}

.experience {
  padding: 2px;
}

.dash-outline {
  cursor: url('../pencil.png') 3 30, auto;
}

.dash-outline:hover {
  outline: 2px dashed #644a39;
}

i {
  color: #644a39;
}

li {
  margin-top: 2px;
}
.metadata {
  font-size: 12px;
}

.metadata span {
  margin-left: 2px;
}

.brown {
  color: #644a39;
  font-weight: 500;
}

.side-project-content {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 10px;
}